{% extends "base.html" %}

{% block body %}


<div id="status" class="flash notice">
<p class="message">
Einladungs-Emails wurden versendet an (falls diese noch nicht an der Petition Teilgenommen haben):
<ul>
    {% for email_address in recommend_receivers %}
    <li>{{email_address}}</li>
    {% endfor %}
</ul>
Vielen Dank! <br />
</div>

<p id="content">
Aktionen:
<ul>
    <li><a href="{{petition.get_absolute_url}}recommend/">Mehr Empfehlungen versenden</a></li>
    <li><a href="{{petition.get_absolute_url}}">Zurück zur Petition {{signature.petition.title}}</a></li>
</ul>
</p>

{% endblock %}
