{% extends "base.html" %}
{% block title %}{{petition.title}}{% endblock %}

{% block body %}
<div id="content">
<h1>{{petition.title}}</h1>


<p>
Anzahl Unterschriften: {{petition.number_signatures}}
</p>

<p>
<a href="{{petition.get_absolute_url}}list/">Unterschriften anschauen</a>
</p>

<h2>
<a href="{{petition.get_absolute_url}}sign/">Ja - ich unterschreibe!</a>
</h2>

<h2>Petitionstext</h2>
<p>
{{petition.text|safe}}
</p>
</div>

    <div id="metainfos">
      <dl>
        {% if petition.start_date %}
        <dt>Startdatum:</dt><dd>{{petition.start_date|date}}</dd>
        {% endif %}
        {% if petition.end_date %}
        <dt>Enddatum:</dt><dd>{{petition.end_date|date}}</dd>
        {% endif %}
        {% if petition.datenschutz %}
        <dt>Datenschutzbedingungen:<dt/><dd>{{petition.datenschutz}}</dd>
        {% endif %}
      </dl>   
    </div>


{% endblock %}
