{% extends "base.html" %}
{% block title %}{{petition.title}}{% endblock %}

{% block body %}
<h1>{{petition.title}}</h1>

<p>
Anzahl Unterschriften: {{petition.number_signatures}}
</p>

<p>
<a href="{{petition.get_absolute_url}}list/">Unterschriften anschauen</a>
</p>

<p>
<a href="{{petition.get_absolute_url}}sign/">Ja - ich unterschreibe!</a>
</p>

<h2>Petitionstext</h2>
<p>
{{petition.text|safe}}
</p>


<div id="metainfos">
    {% if petition.start_date %}
    <p>Startdatum: {{petition.start_date|date}}</p>
    {% endif %}
    {% if petition.end_date %}
    <p>Enddatum: {{petition.end_date}}</p>
    {% endif %}
    {% if petition.datenschutz %}
    <h2>Datenschutzbedingungen:</h2>
    {{petition.datenschutz}}
    {% endif %}
</div>


{% endblock %}
